<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("sliderx/css/sliderx.css")">
        <script src="@routes.Assets.versioned("models/js/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("sliderx/js/sliderx.js")" type="text/javascript"></script>

    </head>
    <body>

        <div class="control-box" >
            <ul>
                <li class="prev">
                    <img src="/assets/sliderx/images/left_02.png" alt="prev">
                </li>
                <li class="next">
                    <img src="/assets/sliderx/images/right_02.png" alt="next">
                </li>
            </ul>
            <div class="bigbox" style="height: 230px">
                <div id="switcher">
                    <div class="content_1">
                        <div class="box">
                            <a href="@routes.ProductsController.cgmd302Page()" target="_blank">
                                <div>
                                    <img src="/assets/models/images/302.png"/>
                                </div>

                                <div>
										CGMD 302  作物生长监测诊断仪
                                </div>
                            </a>

                        </div>
                        <div class="box">
                            <a href="@routes.ProductsController.cgmd402Page()" target="_blank">
                                <div>
                                    <img src="/assets/models/images/402.png"/>
                                </div>
                                <div>
										CGMD 402  作物生长监测诊断仪
                                </div>
                            </a>
                        </div>
                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.cgmd502Page()" target="_blank">
                                <div>
                                    <img src="/assets/models/images/502.png"/>
                                </div>
                                <div>
										CGMD 502作物生长监测诊断设备
                                </div>
                            </a>
                        </div>
                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.chezaiPage()" target="_blank">
                                <div>
                                    <img src="/assets/models/images/chezai.png"/>
                                </div>
                                <div>
										车载式作物生长监测诊断设备
                                </div>
                            </a>

                        </div>
                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.wurenjiPage()" target="_blank">
                                <div>
                                    <img src="/assets/models/images/wuren.png"/>
                                </div>
                                <div>
										无人机载式作物生长监测诊断设备
                                </div>
                            </a>
                        </div>

                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.zhihuiPage()" target="_blank">
                                <div>
                                    <img src="/images/getImageByPath?name=zhihui/1.jpg"/>
                                </div>
                                <div>
										智慧农作平台
                                </div>
                            </a>
                        </div>

                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.nongyexinxiPage()" target="_blank">
                                <div>
                                    <img src="/images/getImageByPath?name=nongyexinxi/1.png"/>
                                </div>
                                <div>
										农业空间信息管理系统
                                </div>
                            </a>
                        </div>

                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.zuowuguanliPage()" target="_blank">
                                <div>
                                    <img src="/images/getImageByPath?name=zuowuguanli/1.jpg"/>
                                </div>
                                <div>
										作物精确管理系统
                                </div>
                            </a>
                        </div>

                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.yaoganPage()" target="_blank">
                                <div>
                                    <img src="/images/getImageByPath?name=yaogan/1.jpg"/>
                                </div>
                                <div>
										农情遥感监测与定量诊断系统
                                </div>
                            </a>
                        </div>

                        <div class="box" style="text-align: center">
                            <a href="@routes.ProductsController.moniPage()" target="_blank">
                                <div>
                                    <img src="/images/getImageByPath?name=moni/1.jpg"/>
                                </div>
                                <div>
										作物生长模拟与决策支持系统
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="content_2"></div>
                </div>
            </div>
        </div>

    </body>
</html>