@home.main("研究院简介") {

    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @academy.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p>研究院简介</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <p class="intro-text">南京智慧农业研究院，成立于2019年7月，是由南京农业大学国家信息农业工程技术中心、曹永恒、张兰平、王洪庭和江苏卫岗一九二八科技发展有限公司共同组建的南京市新型研发机构，是一家国内领先、国际知名的智慧农业产业技术与产品提供商。法人代表倪军 ，人才团队来自于国家信息农业工程技术中心技术骨干队伍，其中教授两名，副教授两名。具体为：国家信息农业工程技术中心副主任倪军教授、国家信息农业工程技术中心农情监测实验室带头人姚霞教授、国家信息农业工程技术中心农业软件开发实验室带头人张小虎副教授、国家信息农业工程技术中心精确管理实验室带头人曹强副教授。注册地在南京南理工科技创新园区，正式办公和科研场所共计3000平方米。</p>
                            <p class="intro-text">研究院依托南京农业大学国家信息农业工程技术中心科研力量，围绕智慧农业发展，开展农业传感器、农业大数据、农业区块链、农业物联网、农业机器人、农业智能装备、农业知识模型等创新性研发、推广、销售与服务，为大田种植业、设施种植业、畜禽水产养殖、农产品加工溯源提供智慧技术及产品。</p>
                            <p class="intro-text">研究院将培育一定数量的智慧农业高科技企业和上市公司，引领中国农业的创新发展和转化应用，为我国传统农业向现代农业的产业转型与技术升级提供有力支撑。同时为我国乡村振兴、农业增效、农民增收提供现代技术支撑。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}