@home.main("发展历程") {

    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @academy.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p>发展历程</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <p class="intro-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}