@home.main("董事长致辞") {

    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @academy.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p>董事长致辞</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <p class="intro-text">实现农产品安全供给是保障我国经济发展和社会稳定的重要物质基础。近年来，我国现代农业的持续发展，面临着资源利用率低、环境污染严重、管理效能不高等多方面的严峻挑战；同时，现代信息技术的快速渗透为农业科技创新及信息农业发展注入了强大动力。当前及今后一个时期，我国迫切需要针对农业生产的关键环节，进行立体化感知、数字化设计、智能化控制和科学化管理，实现农业生产全程定量化和精确化，加快推进智慧农业和现代农业的研发与应用。</p>
                            <p class="intro-text">研究院强化智慧农业平台建设和关键技术的研发应用，有效提升我国农业生产管理的定量化、智能化和科学化水平，提高农业生产综合效益，实现农业可持续发展；研制具有自主知识产权的智慧农业管理软硬件产品，增强我国现代农业生产的核心竞争力，带动形成智慧农业产业体系；培养智慧农业高素质人才，引领相关领域的创新发展和转化应用，为我国传统农业向现代农业的产业转型与技术升级提供有力支撑。同时为我国乡村振兴、农业增效、农民增收提供现代技术支撑。</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}