<div class="container">
    <div class="b20"></div>
    <div class="bottom-box">
        <div class="content">
                <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
            <div style="max-width: 1200px;
                width: 100%;
                position: relative;
                margin: 0px auto">
                <div style="width: 55%;
                    float: left">
                    <div style="text-align: left;
                        float: left;
                        width: 120px;
                        padding: 0px 8px 8px 8px;
                        display: block;"><a href="http://www.netcia.org.cn" target="_blank">
                        <img src="/assets/images/icon/logo2.png" border="0" width="115px"></a>
                    </div>

                    <div style="margin-top: 36px;">
                        <h2 style="color:white;">国家信息农业工程技术中心</h2>
                    </div>
                    <div class="bottom">
                        <h4 style="font-size: 13px;color:white;">National Engineering and Technology Center for Information Agriculture</h4>
                    </div>

                </div>
                <div style="width: 40%;
                    float: left;
                    padding-top: 10px">
                    <p style="font-size: 12px;
                        color: #fff;
                        text-align: left;
                        margin-top: 0px;
                        line-height: 180%">
                        南京智慧农业研究院<br>
                        地址：江苏省南京市玄武区童卫路5号南京南理工科技创新园区7号楼<br>联系电话：025-57671856
        </p>
                </div>

                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>