@home.main("南京智慧农业研究院") {

    <div class="container">
        <div class="main-box">

            <div class="content">
                <div class="left">

                    @* <div class="top">
                    <div class="login-box">
                    <div class="tittle">
                    <p class="tittle left">精英团队</p>
                    <a class="tip right" href="@routes.AcademyController.elitePage()">MORE</a>
                    </div>
                    <div class="yScrollList">
                    <div class="yScrollListIn" style="height: 580px">
                    <div class="yScrollListInList yScrollListInList1" style="display:block;">
                    <ul class="list-items">
                    <li class="list-item">
                    <ul class="sec-list-items">

                    <li class="sec-list-item">
                    <a href="@routes.AcademyController.nijun()">
                    <img src="/assets/images/elite/nijun.jpg" alt="倪军" width="80px" height="120px">
                    </a>

                    <p><span class="name">
                    <a href="@routes.AcademyController.nijun()" style="height: 20px;text-align:left;">倪军</a>
                    </span><span class="zw">
                    <a href="@routes.AcademyController.nijun()" style="height: 20px;text-align:left;">教授，博导</a></span>
                    </p>
                    <p>重点围绕农业信息工程等方面开展系统研究 </p>
                    </li>
                    <li class="sec-list-item">
                    <a href="@routes.AcademyController.yaoxia()">
                    <img src="/assets/images/elite/yaoxia.jpg" alt="姚霞" width="80px" height="120px">

                    </a>
                    <p><span class="name">
                    <a href="@routes.AcademyController.yaoxia()" style="height: 20px;text-align:left;">姚霞</a></span><span class="zw">
                    <a href="@routes.AcademyController.yaoxia()" style="height: 20px;text-align:left;">教授，博导</a></span>
                    </p>

                    <p>长期从事农业信息学理论与技术方面教学与科研工作 </p>

                    </li>
                    <li class="sec-list-item">
                    <a href="@routes.AcademyController.zhangxiaohu()">
                    <img src="/assets/images/elite/zhangxiaohu.jpg" alt="张小虎" width="80px" height="120px">
                    </a>
                    <p><span class="name"><a href="@routes.AcademyController.zhangxiaohu()" style="height: 20px;text-align:left;">张小虎</a></span>
                    <span class="zw"><a href="@routes.AcademyController.zhangxiaohu()" style="height: 20px;text-align:left;">副教授，硕导</a></span>
                    </p>
                    <p>国家信息农业工程技术中心系统架构设计工程师 </p>
                    </li>
                    <li class="sec-list-item">
                    <a href="@routes.AcademyController.caoqiang()">
                    <img src="/assets/images/elite/caoqiang.jpg" alt="曹强" width="80px" height="120px">
                    </a>
                    <p><span class="name"><a href="@routes.AcademyController.caoqiang()" style="height: 20px;text-align:left;">曹强</a></span>
                    <span class="zw"><a href="@routes.AcademyController.caoqiang()" style="height: 20px;text-align:left;">副教授，硕导</a></span>
                    </p>
                    <p>重点围绕精准氮素管理、农业遥感、作物精确管理等方面开展系统研究 </p>
                    </li>
                    </ul>
                    </li>
                    </ul>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>*@

                    <div class="top">
                        <div class="login-box">
                            <div class="tittle">
                                <p class="tittle left">研究院简介</p>
                                <a class="tip right" href="@routes.AcademyController.elitePage()">MORE</a>
                            </div>
                            <div class="yScrollList">
                                <div class="yScrollListIn" style="height: 470px">
                                    <div class="yScrollListInList yScrollListInList1" style="display: block;">

                                        <p style="text-indent: 2em;
                                            font-size: 16px;"><span style="line-height: 2">南京智慧农业研究院，成立于
                                            2019年7月，是由南京农业大学国家信息农业工程技术中心、曹永恒、张兰平、王洪庭和江苏卫岗一
                                            九二八科技发展有限公司共同组建的南京市新型研发机构，是一家国内领先、国际知名的智慧农业
                                            产业技术与产品提供商。法人代表倪军 ，人才团队来自于国家信息农业工程技术中心技术骨干队伍，
                                            其中教授两名，副教授两名。具体为：国家信息农业工程技术中心副主任倪军教授、国家信息农业
                                            工程技术中心农情监测实验室带头人姚霞教授、国家信息农业工程技术中心农业软件开发实验室带头
                                            人张小虎副教授、国家信息农业工程技术中心精确管理实验室带头人曹强副教授。注册地在南京南理
                                            工科技创新园区，正式办公和科研场所共计3000平方米。</span></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
@*                    <div class="top">
                        <div class="title">
                            <p class="title-p">研究院简介</p>
                            <a href="@routes.AcademyController.introPage()" class="more-type">MORE</a>
                        </div>
                        <div class="detail">
                            <li>
                                <p style="overflow: hidden;
                                    height: 130px"><span style="line-height: 2">南京智慧农业研究院，成立于
                                    2019年7月，是由南京农业大学国家信息农业工程技术中心、曹永恒、张兰平、王洪庭和江苏卫岗一
                                    九二八科技发展有限公司共同组建的南京市新型研发机构，是一家国内领先、国际知名的智慧农业
                                    产业技术与产品提供商。法人代表倪军 ，人才团队来自于国家信息农业工程技术中心技术骨干队伍，
                                    其中教授两名，副教授两名。具体为：国家信息农业工程技术中心副主任倪军教授、国家信息农业
                                    工程技术中心农情监测实验室带头人姚霞教授、国家信息农业工程技术中心农业软件开发实验室带头
                                    人张小虎副教授、国家信息农业工程技术中心精确管理实验室带头人曹强副教授。注册地在南京南理
                                    工科技创新园区，正式办公和科研场所共计3000平方米。</span></p>
                            </li>                        </div>
                    </div>
                    <div class="b20"></div>*@
                    <div class="center">
                        <div class="title">
                            <p class="title-p">新闻动态</p>
                            <a href="@routes.HomeController.newsPage()" class="more-type">MORE</a>
                        </div>
                        <div class="detail">
                            <ul class="list-items">

                                <li class="list-item">
                                    <a href="#" class="tittle">南京智慧农业研究院，成立于2019年7月</a>
                                    <p class="time">2019-10-27</p></li>
                                <li class="list-item">
                                    <a href="#" class="tittle">实现农产品安全供给是保障我国经济发展和社会稳定的重要物质基础...</a>
                                    <p class="time">2019-10-09</p></li>
                                <li class="list-item">
                                    <a href="#" class="tittle">研究院将培育一定数量的智慧农业高科技企业和上市公司...</a>
                                    <p class="time">2019-09-18</p></li>
                            </ul>

                        </div>
                    </div>
                    <div class="b20"></div>
                    <div class="center">
                        <div class="title">
                            <p class="title-p">成果发布</p>
                            <a href="@routes.HomeController.newsPage()" class="more-type">MORE</a>
                        </div>
                        <div class="detail">
                           <iframe src="@routes.HomeController.fruitPage()"
                           style="width: 825px;height: 250px;border: none;margin-left: -12px"></iframe>

                        </div>
                    </div>
                    <div class="b20"></div>
                    <div class="center" style="height: 250px">
                        <div class="title">
                            <p class="title-p">产品中心</p>
                            <a href="@routes.ProductsController.cgmd302Page()" class="more-type">MORE</a>
                        </div>
                        <div class="detail">
                            <iframe src="@routes.HomeController.productPage()"
                            style="width: 825px;height: 250px;border: none;margin-left: -12px"></iframe>


                        </div>
                    </div>


                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="b20"></div>

    </div>


}