@home.main("新闻中心") {

    <div class="container">
        <div class="main-box">
            <div class="intro-box">

                <div class="right"  style="margin-top: 20px;width: 1245px">
                    <div class="tittle">
                        <div class="left">
                            <p>新闻中心</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <p class="intro-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}