@home.main("作物生长指标光谱监测与定量诊断技术") {


    <div class="container">
        <div class="main-box">


            <div class="intro-box">
                <div class="right"  style="margin-top: 20px;width: 1245px">
                    <div class="tittle">
                        <div class="left">
                            <p>大田种植业</p>
                        </div>
                    </div>
                </div>
                @business.datianzhongzhiyeleft()

                <div class="right" id="intro-item-1" style="margin-top: 20px;">
                    <div class="detail">
                        <div class="detail-box">
                            <div class="product-text">
                                <h2 style="text-align: left">【作物生长指标光谱监测与定量诊断技术】：</h2>

                                <p style="text-indent: 2em;margin-top: 10px;">
                                    针对传统作物生产中因缺乏对生长状况的实时、无损、定量化监测技术，而导致的施肥量大、肥料利用率低、生产成本高、环境污染严重等系列问题，综合运用作物生理生态原理和定量光谱分析方法，确立了指示作物生长指标的特征光谱波段和敏感光谱参数，构建了作物生长指标光谱监测模型，实现了不同尺度作物长势的快速监测；创建了多路径的作物生长实时诊断与定量调控技术，可定量设计稻麦生长中期的肥水调控方案；创制了面向多平台的作物生长监测诊断软硬件产品，为作物生长指标的监测诊断和智慧管理提供了实用化技术载体；最后集成建立了基于反射光谱的作物生长快速监测与定量诊断技术体系，可面向田块、园区、区域等不同尺度，运用监测诊断仪、农田传感网、遥感系统等，为不同用户提供作物生长诊断与智慧管理服务。</p>
                                <p style="text-indent: 2em;">
                                    该技术以作物生长监测诊断仪、监测诊断应用系统、农田感知与智慧管理平台等为主要应用载体，以作物长势分布图、肥水调控处方图、产量品质分布图等为主要技术形式，以农技推广服务站、农业专家工作站、企业研究生工作站等产学研合作基地为主要依托，在江苏、安徽、河南、江西、浙江、河北等省份的水稻和小麦主产区进行了示范应用，表现为明显的节氮和增产作用，提升了不同空间尺度下作物生长监测与动态调控水平，取得了显著的社会经济效益，对于推进精确农业和智慧农业的发展具有良好的应用前景。技术入选江苏省主要农作物“四主推”名录，起草的《稻麦生长指标无损监测诊断技术规程》入选江苏省地方标准。荣获2014年江苏省科技进步一等奖和2015年国家科技进步二等奖。</p>

                                <div style="text-align: center">

                                    <img src="/images/getImageByPath?name=guangpujiance/1.jpg" />
                                    <img src="/images/getImageByPath?name=guangpujiance/2.jpg" />
                                    <br>
                                    <h2 style="text-align: left">【农田物联网感知节点】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=guangpujiance/3.jpg" />
                                    <br>
                                    <br>
                                    <h2 style="text-align: left">【农田感知与智慧管理系统】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=guangpujiance/4.jpg" width="800px" />

                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <ul class="list-items list-paddingleft-2">
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

}