@home.main("农田感知与智慧管理") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                <div class="right"  style="margin-top: 20px;width: 1245px">
                    <div class="tittle">
                        <div class="left">
                            <p>大田种植业</p>
                        </div>
                    </div>
                </div>
                @business.datianzhongzhiyeleft()
                <div class="right" id="intro-item-1" style="margin-top: 20px;">
                    <div class="detail">
                        <div class="detail-box">
                            <div class="product-text">
                                <h2 style="text-align: left;">【农田感知与智慧管理】：</h2>

                                <p style="text-indent: 2em;margin-top: 10px;">
                                    农田感知与智慧管理技术是通过有效集成南京农业大学国家信息农业工程技术中心多年潜心研发的“基于模型的作物生长预测与精确管理技术”、“作物生长指标光谱监测与定量诊断技术”等国家级研究成果，结合新兴物联网、大数据、云计算等技术，创制出的一种现代化作物栽培管理新模式。</p>
                                <p style="text-indent: 2em;">
                                    该技术依托高空卫星遥感、低空无人机、地面农田传感网和便携式作物诊断仪等不同平台，从不同尺度全面、实时感知作物叶层氮素营养状况、生物量、叶面积指数等生长信息和冠层温湿度、二氧化碳浓度、光辐射、土壤温湿度等农田环境信息，通过农田感知与智慧管理平台的大数据分析和管理决策模型，利用手机或电脑终端，实现了田块、园区、区域等不同尺度下作物播前方案的精确设计、产中苗情的实时诊断、肥水方案的动态调控、产量品质的定量预测和生产全过程的信息溯源，从而有效克服了传统作物苗情信息获取过程中破坏性采样与化学分析实效性差、程序繁琐等不足，可实时快速地为农民和种植大户提供定量化的管理建议。</p>

                                <div style="text-align: center">
                                    <img src="/images/getImageByPath?name=nongtianganzhi/1.jpg" width="800px" style="margin-left: 25px"/>
                                    <br>
                                    <br>
                                    <img src="/images/getImageByPath?name=nongtianganzhi/2.jpg" width="800px" style="margin-left: 25px"/>
                                    <br>
                                    <h2 style="text-align: left">【农田感知与智慧管理系统】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=nongtianganzhi/3.jpg" width="800px" style="margin-left: 25px"/>
                                    <br>
                                    <h2 style="text-align: left">【荣获第十四届国际工业博览会创新奖】：</h2>

                                    <br>
                                    <img src="/images/getImageByPath?name=nongtianganzhi/4.jpg" width="800px" style="margin-left: 25px"/>

                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <ul class="list-items list-paddingleft-2">
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

}