@home.main("基于模型的作物生长预测与精确管理技术") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                <div class="right"  style="margin-top: 20px;width: 1245px">
                    <div class="tittle">
                        <div class="left">
                            <p>大田种植业</p>
                        </div>
                    </div>
                </div>
                @business.datianzhongzhiyeleft()
                <div class="right" id="intro-item-1" style="margin-top: 20px;">
                    <div class="detail">
                        <div class="detail-box">
                            <div class="product-text">
                                <h2 style="text-align: left">【基于模型的作物生长预测与精确管理技术】：</h2>

                                <p style="text-indent: 2em;margin-top: 10px;">
                                    针对传统作物栽培模式及管理专家系统经验性强、适应性窄、定量化弱等不足，将系统工程原理和动态建模技术应用于作物生长与管理系统的定量化分析和数字化表达，构建了基于生理生态过程的作物生长与生产力形成模拟模型，实现了不同条件下作物生长和生产力形成过程的动态预测；创立了基于环境-品种-技术关系的作物管理知识模型，实现了不同区域作物生产管理方案的精确设计；进一步融合空间信息技术，提出了基于生长模型、知识模型和GIS耦合的作物管理决策支持系统，实现了整个作物生长与管理过程的精确化设计、动态化预测和数字化调控。</p>
                                <p style="text-indent: 2em;">
                                    该技术以模型框架、模型算法、精确管理决策系统等为主要应用载体，以田块到区域尺度的定量化栽培管理处方为主要技术应用形式，在江苏、安徽、河南、江西、浙江、河北等省份的稻麦生产区进行了试验示范和推广应用，表现为明显的增产增收作用，显著提升了作物生长与生产系统的数字化设计和调控水平，促进了农业产业管理的信息化和现代化，取得了显著的经济社会效益，展示了良好的应用前景。荣获2007年中国高校科技进步一等奖和2008年国家科技进步二等奖。</p>

                                <div style="text-align: center">
                                    <br>
                                    <h2 style="text-align: left">【基于模型和GIS的水稻精确管理系统】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=shengzhangyuce/1.jpg" width="800px" style="margin-left: 25px"/>
                                    <br>
                                    <br>
                                    <h2 style="text-align: left">【便携式精确农作系统】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=shengzhangyuce/2.jpg" style="margin-left: 25px"/>
                                    <br>
                                    <h2 style="text-align: left">【小麦生长模拟及决策支持系统】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=shengzhangyuce/3.jpg" width="800px" style="margin-left: 25px"/>
                                    <br>
                                    <br>
                                    <h2 style="text-align: left">【作物栽培管理综合方案】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=shengzhangyuce/4.jpg" width="800px" style="margin-left: 25px"/>
                                    <br>
                                    <br>
                                    <h2 style="text-align: left">【南通市镇级总施氮量分布图】：</h2>
                                    <br>
                                    <img src="/images/getImageByPath?name=shengzhangyuce/5.jpg" width="800px" style="margin-left: 25px"/>

                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <ul class="list-items list-paddingleft-2">
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

}