@home.main("水产养殖业") {

    <div class="container">
        <div class="main-box">
            <div class="intro-box">

                <div class="right"  style="margin-top: 20px;width: 1200px">
                    <div class="tittle">
                        <div class="left">
                            <p>水产养殖业</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <div class="product-text">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}