@home.main("精英团队-曹强") {

    <div class="container">
        <div class="main-box" >
            <div class="intro-box">
                @academy.left()
                <div class="right" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p><a href="@routes.AcademyController.elitePage()" style="color: #076543">精英团队</a>-曹强</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="team-list">
                            <div>

                                <div style="width: 250px;
                                    float: left;
                                    text-align: center;margin-top: 30px">
                                    <div style="text-align: center;">
                                        <img src="/assets/images/elite/caoqiang.jpg" width="150px" border="0">
                                    </div>
                                </div>
                                <div style="margin: 30px 0 0 0;
                                    text-align: left;width: 700px;float: left">


                                    <div class="product-text" >

                                        <h1>曹强</h1>
                                        <p>副教授，硕导</p>
                                        <p>南京农业大学副教授，硕导。重点围绕精准氮素管理、农业遥感、作物精确管理等方面开展
                                            系统研究。主持国家自然科学基金青年科学基金项目、南京农业大学中央高校基本科研业
                                            务费专项资金项目（国青项目配套）、国家重点研发计划子课题、江苏省基础研究计划
                                            （自然科学基金）青年基金项目、南京农业大学中央高校基本科研业务费专项资金项目
                                            等。发表学术论文30余篇，申请国家发明专利1件。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>

}