@home.main("精英团队-曹永恒") {

    <div class="container">
        <div class="main-box" >
            <div class="intro-box">
                @academy.left()
                <div class="right" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p><a href="@routes.AcademyController.elitePage()" style="color: #076543">精英团队</a>-曹永恒</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="team-list">
                            <div>

                                <div style="width: 250px;
                                    float: left;
                                    text-align: center;margin-top: 30px">
                                    <div style="text-align: center;">
                                        <img src="/assets/images/elite/caoyongheng.jpg" width="150px" border="0">
                                    </div>
                                </div>
                                <div style="margin: 30px 0 0 0;
                                    text-align: left;width: 700px;float: left">


                                    <div class="product-text" >

                                        <h1>曹永恒</h1>
                                        <p>毕业于南京理工大学，曾任平安证券机构部投资经理，金元证券江苏分公司副总经理，现任江
                                            苏唐风基金管理有限公司总经理，浙江冉涛股权投资基金董事长，南京天地游企业管理股份
                                            有限公司副董事长等职。善于投融资及重组并购，基金设立及产品发行，企业构架的顶层设
                                            计等。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>

}