@home.main("精英团队-倪军") {

    <div class="container">
        <div class="main-box" >
            <div class="intro-box">
                @academy.left()
                <div class="right" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p><a href="@routes.AcademyController.elitePage()" style="color: #076543">精英团队</a>-倪军</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="team-list">
                            <div>

                                <div style="width: 250px;
                                    float: left;
                                    text-align: center;margin-top: 30px">
                                    <div style="text-align: center;">
                                        <img src="/assets/images/elite/nijun.jpg" width="150px" border="0">
                                    </div>
                                </div>
                                <div style="margin: 30px 0 0 0;
                                    text-align: left;width: 700px;float: left">


                                    <div class="product-text" >

                                        <h1>倪军</h1>
                                        <p>教授，博导</p>
                                        <p>南京农业大学国家信息农业工程技术中心副主任。
                                        重点围绕农业信息工程等方面开展系统研究。
                                        主持国家自然科学基金面上项目、国家重点研发计划子课题、江苏省重点研发计划重点项目、江苏省农业科技自主创新项目、江苏省农机三新工程项目等，获国家科技进步二等奖1项，江苏省科技进步一等奖1项，教育部科技进步一等奖1项，全国农牧渔业丰收奖一等奖1项，中国专利奖优秀奖1项，江苏省专利项目优秀奖1项、江苏省农业技术推广一等奖1项；荣获全国三农科技服务金桥奖先进个人，中国江苏创新创业大赛二等奖等。发表学术论文30多篇，授权国家发明专利18件，授权实用新型专利5件，申请国际PCT专利2件，登记国家计算机软件著作权13件，制定江苏省地方标准1项，企业标准2项；参编专著1部、教材1部。先后入选江苏省六大人才高峰、江苏省“333高层次人才培养工程”、南京市领军型科技创业人才</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>

}