@home.main("精英团队-王洪庭") {

    <div class="container">
        <div class="main-box" >
            <div class="intro-box">
                @academy.left()
                <div class="right" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p><a href="@routes.AcademyController.elitePage()" style="color: #076543">精英团队</a>-王洪庭</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="team-list">
                            <div>

                                <div style="width: 250px;
                                    float: left;
                                    text-align: center;margin-top: 30px">
                                    <div style="text-align: center;">
                                        <img src="/assets/images/elite/wanghongting.jpg" width="150px" border="0">
                                    </div>
                                </div>
                                <div style="margin: 30px 0 0 0;
                                    text-align: left;width: 700px;float: left">


                                    <div class="product-text" >

                                        <h1>王洪庭</h1>
                                        <p>毕业于南京航空航天大学，曾就职于中电科十五所，太极计算机股份有限公司（股票代码
                                            002368），先后担任太极股份深圳公司首席软件架构师，技术总监；太极股份南京公司总
                                            经理，南京异构科技有限公司总经理职务。</p>
                                        <p>20年以上大型企业信息化/商务智能软件实施经验，主持和参与了国家电网、安徽省电力公
                                            司、浙江省电力公司、上海市电力公司、吉林省电力公司、湖北省公安厅、山西省公安厅、
                                            河南省公安厅、广东省公安厅、江西省公安厅、天津市公安局、江苏省急救中心、江西省急
                                            救中心、四川省急救中心、江苏省人民医院、上海市东方医院、五星电器、海南航空等数十
                                            家大型企业/政府信息化项目的规划、研发和实施工作。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>

}