@home.main("精英团队-张兰平") {

    <div class="container">
        <div class="main-box" >
            <div class="intro-box">
                @academy.left()
                <div class="right" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p><a href="@routes.AcademyController.elitePage()" style="color: #076543">精英团队</a>-张兰平</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="team-list">
                            <div>

                                <div style="width: 250px;
                                    float: left;
                                    text-align: center;margin-top: 30px">
                                    <div style="text-align: center;">
                                        <img src="/assets/images/elite/zhanglanping.jpg" width="150px" border="0">
                                    </div>
                                </div>
                                <div style="margin: 30px 0 0 0;
                                    text-align: left;width: 700px;float: left">


                                    <div class="product-text" >

                                        <h1>张兰平</h1>
                                        <p>毕业于南京农业大学 ，曾就职于盐城阜泰玻璃制品有限公司产品设计部经理，农业部南京农
                                            业机械化研究所《农机之友》杂志社广告部主任，中国人寿保险公司业务部客户经理，中国
                                            人寿保险公司南京市分公司业务三部客户经理，中国联通南京分公司校园部，南京贝克特环
                                            保科技有限公司经理。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>

}