@home.main("精英团队-张小虎") {

    <div class="container">
        <div class="main-box" >
            <div class="intro-box">
                @academy.left()
                <div class="right" style="margin-top: 20px;">
                    <div class="tittle">
                        <div class="left">
                            <p><a href="@routes.AcademyController.elitePage()" style="color: #076543">精英团队</a>-张小虎</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="team-list">
                            <div>

                                <div style="width: 250px;
                                    float: left;
                                    text-align: center;margin-top: 30px">
                                    <div style="text-align: center;">
                                        <img src="/assets/images/elite/zhangxiaohu.jpg" width="150px" border="0">
                                    </div>
                                </div>
                                <div style="margin: 30px 0 0 0;
                                    text-align: left;width: 700px;float: left">


                                    <div class="product-text" >

                                        <h1>张小虎</h1>
                                        <p>副教授，硕导</p>
                                        <p>南京农业大学副教授，硕导，国家信息农业工程技术中心系统架构设计工程师。重点围绕农业
                                            时空大数据智能分析、气候变化及区域生产力模拟、农业遥感数据高性能处理、（地理）信
                                            息系统软件设计及开发等方面开展系统研究。主持江苏省重点研发计划项目，国家重点研发
                                            计划子课题，科技部星火计划项目、国家自然科学基金青年科学基金项目、江苏省农业三新
                                            工程项目等。担任全国地理学研究生联合会（2010-2011）秘书长、江苏省遥感与地理信息
                                            系统学会（2016-今）副秘书长。先后获得南京农业大学青年教师授课比赛三等奖（2018）、
                                            第一届全国作物学学科青年教师教学技能竞赛（华东片区）一等奖（2018）、南京农业大学
                                            农学院优秀教师（2017）、南京农业大学农学院教学比赛一等奖(2017)、南京农业大学青年
                                            教师教学比赛优秀奖（2016）、2016Esri杯中国大学生GIS开发竞赛优秀指导教师奖（2016）、
                                            南京农业大学农学院教学比赛一等奖(2016)等奖项。发表学术论文13篇，授权软件著作权7件。</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>
    </div>

}