@about.main("联系我们"){

    <div class="container">
        <div class="main-box">
            <div class="intro-box">

                <div class="right" style="margin-top: 20px;
                    width: 1200px">
                    <div class="tittle">
                        <div class="left">
                            <p>联系我们</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <div id="vsb_content_1098_u51"><div id="vsb_content"><ul class="list-items" style="width: 93%;
                                margin: 0 auto;">
                                <li class="list-item"><h2>南京智慧农业研究院</h2></li>
                                <li class="list-item"><h2>地址：江苏省南京市玄武区童卫路5号南京南理工科技创新园区7号楼</h2></li>
                                <li class="list-item"><h2>电话：025-57671856</h2></li>
                            </ul>

                                <div style="width: 93%;
                                    margin: 0 auto;">
                                    <img id="dituContent" style="width: 690px;
                                        height: 550px;" src="/assets/models/images/location.jpg">
                                </div>


                            </div>
@*                                <script src="@routes.Assets.versioned("bmap/api.js")" type="text/javascript"></script>
                                <script src="@routes.Assets.versioned("bmap/getscript.js")" type="text/javascript"></script>
                                <script src="@routes.Assets.versioned("bmap/create.js")" type="text/javascript"></script>
                                <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bmap/bmap.css")">*@


                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
}
