@home.main("CGMD 502  作物生长监测诊断设备") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>CGMD 502  作物生长监测诊断设备</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div style="width: 100%;
                                border-bottom: none;margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">
                                            CGMD502作物生长监测诊断设备包括作物-大气-土壤信息无线采集终端和信息汇
                                            聚终端（农田物联网网关）。根据农区空间差异部署作物-大气-土壤信息无线采
                                            集终端，自组织低功耗无线采集网络，快速、实时、无损、大面积地获取农作物
                                            生长信息（叶面积指数和叶片氮积累量等）和生态环境信息（大气/土壤温湿度
                                            等）；通过农田物联网网关远程传输至农田感知与智慧管理服务平台，耦合不同
                                            生育期作物生长适宜指标动态，基于作物生长诊断调控模型，精确化推荐作物关
                                            键施肥期追肥方案。从而克服传统作物生长信息采集与处理时效性差、程序繁琐
                                            、管理粗放等不足。</p>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: left">
                                        <h2>〖作物-大气-土壤信息无线采集终端〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>结构组成</th>
                                                        <td>传感器模块、处理器模块、无线通信模块、串口通信模块、时钟模块、电源模块及电源控制模块</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量参数</th>
                                                        <td>作物生长信息（叶层氮含量、叶层氮积累量、叶面积指数和生物量）、农田大气信息（冠层温度、冠层湿度、冠层CO2浓度）和农田土壤信息（土壤含水率、土壤温度）</td>
                                                    </tr>
                                                    <tr>
                                                        <th>供电方式</th>
                                                        <td>太阳能供电</td>
                                                    </tr>
                                                    <tr>
                                                        <th>工作电压</th>
                                                        <td>5-12V DC</td>
                                                    </tr>
                                                    <tr>
                                                        <th>工作温度</th>
                                                        <td>-20 ~ 60℃</td>
                                                    </tr>
                                                    <tr>
                                                        <th>无线协议</th>
                                                        <td>ZigBee</td>
                                                    </tr>
                                                    <tr>
                                                        <th>无线频率</th>
                                                        <td>780~786MHz</td>
                                                    </tr>
                                                    <tr>
                                                        <th>串口速率</th>
                                                        <td>19200bps</td>
                                                    </tr>
                                                    <tr>
                                                        <th>节点类型</th>
                                                        <td>可配置为Coordinator或Router</td>
                                                    </tr>
                                                    <tr>
                                                        <th>传输距离</th>
                                                        <td>空旷可视1000~ 1500m</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/502-1.png" width="300px" border="0">
                                            <br>
                                            <p>作物-大气-土壤信息无线采集终端</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: right">
                                        <h2>〖光谱作物生长传感器〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>余弦接收</th>
                                                        <td>透过率 75%</td>
                                                    </tr>
                                                    <tr>
                                                        <th>视场角</th>
                                                        <td>27°</td>
                                                    </tr>
                                                    <tr>
                                                        <th>通道数量</th>
                                                        <td>2通道</td>
                                                    </tr>
                                                    <tr>
                                                        <th>反应波段</th>
                                                        <td>730nm，815nm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>光谱带宽</th>
                                                        <td>≤10nm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>光学感应器</th>
                                                        <td>光电二极管</td>
                                                    </tr>
                                                    <tr>
                                                        <th>传输线（标准）</th>
                                                        <td>RVVP屏蔽电缆</td>
                                                    </tr>
                                                    <tr>
                                                        <th>输出电流</th>
                                                        <td>0.2～3.2uA</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/502-2.png" width="300px" border="0">
                                            <p>作物生长传感器（拥有自主知识产权）</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: left">
                                        <h2>〖温湿度传感器〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>工作电压</th>
                                                        <td>3.3V DC</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量范围</th>
                                                        <td>温度：－20～80℃；湿度：0%～100% RH</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量精度</th>
                                                        <td>温度：≦±0.5℃；湿度：≦±3% RH</td>
                                                    </tr>
                                                    <tr>
                                                        <th>分辨率</th>
                                                        <td>温度：±0.1℃；湿度：±0.1% RH</td>
                                                    </tr>
                                                    <tr>
                                                        <th>负载能力</th>
                                                        <td>电流型：≤500Ω；电压型：≥10KΩ</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 40px;">
                                            <img src="/assets/models/images/502-3.png" width="300px" border="0">
                                            <p>农田温湿度传感器</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: right">
                                        <h2>〖CO2传感器〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>工作电压</th>
                                                        <td>5V DC</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量范围</th>
                                                        <td>0～2000ppm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>精度</th>
                                                        <td>±30ppm，±5％</td>
                                                    </tr>
                                                    <tr>
                                                        <th>分辨率</th>
                                                        <td>1ppm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>响应时间</th>
                                                        <td>< 3s</td>
                                                    </tr>
                                                    <tr>
                                                        <th>稳定性</th>
                                                        <td>≤2% F•S</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 30px;">
                                            <img src="/assets/models/images/502-4.png" width="300px" border="0">
                                            <p>农田CO2传感器</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: left">
                                        <h2>〖土壤水分传感器〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>工作电压</th>
                                                        <td>12V DC</td>
                                                    </tr>
                                                    <tr>
                                                        <th>量程</th>
                                                        <td>0～100%</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量精度</th>
                                                        <td>±3% FS</td>
                                                    </tr>
                                                    <tr>
                                                        <th>探针材料</th>
                                                        <td>不锈钢</td>
                                                    </tr>
                                                    <tr>
                                                        <th>密封材料</th>
                                                        <td>环氧树脂</td>
                                                    </tr>
                                                    <tr>
                                                        <th>工作温度</th>
                                                        <td>-30～85℃</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量主频</th>
                                                        <td>100MHz</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量稳定时间</th>
                                                        <td>2s</td>
                                                    </tr>

                                                    <tr>
                                                        <th>响应时间</th>
                                                        <td>＜1s</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量区域</th>
                                                        <td>以探针为中心，直径为7cm、高为7cm的圆柱体</td>
                                                    </tr>
                                                    <tr>
                                                        <th>电缆长度</th>
                                                        <td>1.5m (标配) </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/502-5.png" width="300px" border="0">
                                            <p>农田土壤水分传感器</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: right">
                                        <h2>〖土壤温度传感器〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>工作电压</th>
                                                        <td>3.3V DC</td>
                                                    </tr>
                                                    <tr>
                                                        <th>内置传感器</th>
                                                        <td>DS18B20</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量精度</th>
                                                        <td>±0.5℃（-10～85℃范围内）</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测温范围</th>
                                                        <td>-50～100℃</td>
                                                    </tr>
                                                    <tr>
                                                        <th>分辨率</th>
                                                        <td>9-12位(0.0625℃)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测温速度</th>
                                                        <td>750ms</td>
                                                    </tr>
                                                    <tr>
                                                        <th>材质</th>
                                                        <td>314不锈钢</td>
                                                    </tr>
                                                    <tr>
                                                        <th>外型尺寸</th>
                                                        <td>φ6mm</td>
                                                    </tr>

                                                    <tr>
                                                        <th>长度</th>
                                                        <td>25mm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>工作温度</th>
                                                        <td>-55～80℃</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/502-6.png" width="300px" border="0">
                                            <p>农田土壤温度传感器</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: left">
                                        <h2>〖农田物联网网关〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>工作电压</th>
                                                        <td>220V AC</td>
                                                    </tr>
                                                    <tr>
                                                        <th>外观尺寸</th>
                                                        <td>168*141*63</td>
                                                    </tr>
                                                    <tr>
                                                        <th>状态指示灯</th>
                                                        <td>12个/4组LED（指示电源状态/ZigBee运行状态/CDMA运行状态/网关数据处理状态）</td>
                                                    </tr>
                                                    <tr>
                                                        <th>工作温度</th>
                                                        <td>-20～85℃</td>
                                                    </tr>
                                                    <tr>
                                                        <th>工作湿度</th>
                                                        <td>< 95% RH</td>
                                                    </tr>
                                                    <tr>
                                                        <th>硬件接口</th>
                                                        <td>1个10/100M LAN/ WAN复用RJ45以太网接口；1个串行接口</td>
                                                    </tr>
                                                    <tr>
                                                        <th>无线技术</th>
                                                        <td>CDMA 2000；802.15.4/ZigBee</td>
                                                    </tr>
                                                    <tr>
                                                        <th>无线频率</th>
                                                        <td>780MHz/ 2.4GHz</td>
                                                    </tr>

                                                    <tr>
                                                        <th>网络标准</th>
                                                        <td>802.15.4/ZigBee PRO/ CDMA 2000</td>
                                                    </tr>
                                                    <tr>
                                                        <th>发射功率</th>
                                                        <td>18dBm/27dBm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>信道数</th>
                                                        <td>6/40-45</td>
                                                    </tr>
                                                    <tr>
                                                        <th>传输速率</th>
                                                        <td>250kbps/ 156Kbps</td>
                                                    </tr>
                                                    <tr>
                                                        <th>天线类型</th>
                                                        <td>外置天线</td>
                                                    </tr>
                                                    <tr>
                                                        <th>无线加密</th>
                                                        <td>支持AES-128加密</td>
                                                    </tr>
                                                    <tr>
                                                        <th>最大连接数</th>
                                                        <td>TCP/IP<5个；采集终端<255个</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/502-7.png" width="300px" border="0">
                                            <p>农田物联网网关</p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}