@home.main("CGMD 402  作物生长监测诊断仪") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>CGMD 402  作物生长监测诊断仪</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div class="top" style="width: 100%;
                                border-bottom: none">
                                <div class="right" style="margin: 30px 0 0 0;
                                    width: 450px">
                                    <ul class="list-items list-paddingleft-2" style="width: 450px">

                                        <li>
                                            <h2>〖产品介绍〗：</h2>
                                            <div class="product-text">
                                                <p style="text-indent: 2em;">
                                                    CGMD402作物生长监测诊断仪利用仪器自带LED光源测量作物冠层植被指数RVI和NDVI ，快速、无损、全天候获取作物生长信息，包括作物叶层氮含量、叶层氮积累量、叶面积指数、叶干重等生长指标，克服了传统作物生长信息获取中需要田间采样、室内分析等繁琐过程，也克服了被动式作物生长监测诊断仪使用受光照条件限制的弊端。</p>
                                            </div>
                                        </li>
                                        <li>
                                            <h2>〖特性〗：</h2>
                                            <div class="product-text">
                                                <p><i class="fa fa-angle-right"></i> 仪器集成度高、操作简便、测量灵活；</p>
                                                <p><i class="fa fa-angle-right"></i> 仪器自带LED光源，使用不受天气限制，实现了作物生长信息全天候、实时、低成本获取；</p>
                                                <p><i class="fa fa-angle-right"></i> CGMD 402 作物生长监测诊断仪适用于农作物冠层测量，特别是水稻和小麦作物；</p>
                                                <p><i class="fa fa-angle-right"></i> 可现场快速获取作物冠层RVI、NDVI、叶层氮含量、叶层氮积累量、叶干重和叶面积指数，并且实时显示在LCD上，时效性好；</p>
                                                <p><i class="fa fa-angle-right"></i> 采用高可靠性的光学系统和电学系统设计方案，具有光源能耗补偿、测量高度补偿以及环境温度补偿；</p>
                                                <p><i class="fa fa-angle-right"></i> 灵活实用的软件系统，可通过控制按键来手动选择或切换测量、监测与诊断等功能；</p>
                                                <p><i class="fa fa-angle-right"></i> 专用铝合金手提箱，重量轻，携带方便，便于野外作业；</p>
                                            </div>
                                        </li>
                                        <li>
                                            <h2>〖技术参数〗：</h2>
                                            <div class="product-text">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th>工作环境</th>
                                                            <td>0℃~60℃，相对湿度0~100%RH（没有水气凝结）</td>
                                                        </tr>
                                                        <tr>
                                                            <th>贮藏环境</th>
                                                            <td>-10℃~80℃，相对湿度0~40%RH</td>
                                                        </tr>
                                                        <tr>
                                                            <th>电源</th>
                                                            <td>3.7V锂电池，5300mAh，一次充电可连续使用6小时</td>
                                                        </tr>
                                                        <tr>
                                                            <th>软件功能</th>
                                                            <td>植被指数RVI、NDVI数据显示，作物叶层氮含量、氮积累量、叶面积指数、叶干重等数据显示</td>
                                                        </tr>
                                                        <tr>
                                                            <th>光源</th>
                                                            <td>LED</td>
                                                        </tr>
                                                        <tr>
                                                            <th>中心波长</th>
                                                            <td>730nm、815nm</td>
                                                        </tr>
                                                        <tr>
                                                            <th>光谱带宽</th>
                                                            <td><8 nm FWHM</td>
                                                        </tr>
                                                        <tr>
                                                            <th>视场角</th>
                                                            <td>30°</td>
                                                        </tr>
                                                        <tr>
                                                            <th>采集面面积</th>
                                                            <td>0.23~0.38m2</td>
                                                        </tr>
                                                        <tr>
                                                            <th>通道数量</th>
                                                            <td>2个</td>
                                                        </tr>
                                                        <tr>
                                                            <th>采集器材质</th>
                                                            <td>ABS工程塑料，防水等级IP65</td>
                                                        </tr>
                                                        <tr>
                                                            <th>尺寸</th>
                                                            <td>探头L154mm×W138mm×H34mm<br>
                                                                手柄L150mm×Φ40 mm
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>重量</th>
                                                            <td>360g</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                                <div style="width: 400px;
                                    float: left;
                                    text-align: center">
                                    <p style="text-align: center;margin-top: 20px;">
                                        <img src="/assets/models/images/402-2.png" width="300px" border="0">
                                    </p>
                                    <p style="text-align: center;margin-top: 20px;"><img src="/assets/models/images/402-1.png" width="300px" border="0"></p>

                                    <p style="text-align: center;margin-top: 20px;">
                                        <img src="/assets/models/images/402-3.png" width="300px" border="0">

                                    </p>
                                </div>

                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}