@home.main("CGMD 302  作物生长监测诊断仪") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>CGMD 302  作物生长监测诊断仪</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div class="top" style="width: 100%;
                                border-bottom: none">
                                <div class="right" style="margin: 30px 0 0 0;
                                    width: 450px">
                                    <ul class="list-items list-paddingleft-2" style="width: 450px">

                                        <li>
                                        <h2>〖产品介绍〗：</h2>
                                        <div class="product-text">
                                            <p style="text-indent: 2em;">
                                                CGMD 302 作物生长监测诊断仪由多光谱传感器和信号采集器组成，该仪器可以通过测量作物冠层光谱反射率快速、实时、无损获取作物生长信息，包括作物叶层氮含量、叶层氮积累量、叶面积指数、叶干重等生长指标，从而克服了传统作物生长信息获取中需要田间采样、室内分析等繁琐过程。</p>
                                        </div>
                                        </li>
                                        <li>
                                            <h2>〖特性〗：</h2>
                                            <div class="product-text">
                                                <p><i class="fa fa-angle-right"></i> 仪器集成度高、安装方便、操作简单、测量灵活；</p>
                                                <p><i class="fa fa-angle-right"></i> CGMD 302 作物生长监测诊断仪适用于农作物冠层测量，特别是水稻和小麦作物；</p>
                                                <p><i class="fa fa-angle-right"></i>
                                                    可现场获取作物冠层特征光谱反射率、NDVI、RVI、作物叶层氮含量、氮积累量、叶干重、叶面积指数等，并且显示在LCD上，时效性高；</p>
                                                <p><i class="fa fa-angle-right"></i> 灵活实用的软件系统，可通过控制按键来手动选择或切换测量、监测与诊断等功能；</p>
                                                <p><i class="fa fa-angle-right"></i>
                                                    标准规格支撑杆，可根据作物高度自行调整支撑杆的高度；配备水准仪，以方便指示传感器水平；</p>
                                                <p><i class="fa fa-angle-right"></i> 专用铝合金手提箱，重量轻，便于野外作业；</p>
                                            </div>
                                        </li>
                                        <li>
                                            <h2>〖技术参数〗：</h2>
                                            <div class="product-text">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th>工作环境</th>
                                                            <td>0℃~100℃，相对湿度0~100%RH（没有水气凝结）</td>
                                                        </tr>
                                                        <tr>
                                                            <th>贮藏环境</th>
                                                            <td>-10℃~25℃，相对湿度0~20%RH</td>
                                                        </tr>
                                                        <tr>
                                                            <th>电源</th>
                                                            <td>使用9V干电池/一节</td>
                                                        </tr>
                                                        <tr>
                                                            <th>软件功能</th>
                                                            <td>作物冠层敏感波段反射率数据显示，作物叶层氮含量、氮积累量、叶面积指数、叶干重等数据显示</td>
                                                        </tr>
                                                        <tr>
                                                            <th>软件附加功能</th>
                                                            <td>测试环境温度数据显示</td>
                                                        </tr>
                                                        <tr>
                                                            <th>视野</th>
                                                            <td>余弦接收（具有光谱纠正）</td>
                                                        </tr>
                                                        <tr>
                                                            <th>测量波段</th>
                                                            <td>730 nm，815 nm</td>
                                                        </tr>
                                                        <tr>
                                                            <th>光谱带宽</th>
                                                            <td><10 nm</td>
                                                        </tr>
                                                        <tr>
                                                            <th>视场角</th>
                                                            <td>30°</td>
                                                        </tr>
                                                        <tr>
                                                            <th>观测面积</th>
                                                            <td>0.23-0.38m2</td>
                                                        </tr>
                                                        <tr>
                                                            <th>通道数量</th>
                                                            <td>2个</td>
                                                        </tr>
                                                        <tr>
                                                            <th>传输线（标准）</th>
                                                            <td>RVVP屏蔽电缆</td>
                                                        </tr>
                                                        <tr>
                                                            <th>接头（标准）</th>
                                                            <td>小型3针公头</td>
                                                        </tr>
                                                        <tr>
                                                            <th>采集器材质</th>
                                                            <td>ABS工程塑料，防水等级IP65</td>
                                                        </tr>
                                                        <tr>
                                                            <th>支撑杆</th>
                                                            <td>1.2-2.3 m可调</td>
                                                        </tr>
                                                        <tr>
                                                            <th>尺寸</th>
                                                            <td>传感器H50（54）mm×Φ38 mm<br/>
                                                                采集器L142 mm×W104 mm×H42mm
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                                <div style="width: 400px;
                                    float: left;
                                    text-align: center">
                                    <p style="text-align: center;margin-top: 20px;">
                                        <img src="/assets/models/images/302-2.png" width="300px" border="0">
                                    </p>
                                    <p style="text-align: center;margin-top: 20px;"><img src="/assets/models/images/302-3.png" width="300px" border="0"></p>

                                    <p style="text-align: center;margin-top: 20px;">
                                        <img src="/assets/models/images/302-1.png" width="300px" border="0">
                                    </p>
                                </div>

                                <div class="clear"></div>
                            </div>

                            <ul class="list-items list-paddingleft-2">





                            </ul>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}