@home.main("车载式作物生长监测诊断设备") {



    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>车载式作物生长监测诊断设备</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div style="width: 100%;
                                border-bottom: none;margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">
                                            车载式作物生长监测诊断设备由农机平台、车载作物生长传感器、速度传感器、GPS、车载
                                            电脑等组成，可以以不同的作业速度快速、高通量获取作物叶层氮含量、叶层氮积累量、叶
                                            面积指数、叶干重等生长指标，并生成空间分布图，耦合不同生育期作物生长适宜指标动
                                            态，基于作物生长诊断调控模型，精确化推荐作物关键施肥期追肥方案，为产中变量追肥提
                                            供信息源。</p>
                                    </div>
                                </div>
                                <img src="/assets/models/images/chezai-2.png" width="800px"  style="margin-left: 25px"/>


                                <div style="margin-top: 30px;">
                                    <h2>〖特征〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p><i class="fa fa-angle-right"></i> 设备集成度高，操作简便，可调节不同作业速度，作业效率高；</p>
                                        <p><i class="fa fa-angle-right"></i> 适用于农作物冠层测量，特别是水稻和小麦作物；</p>
                                        <p><i class="fa fa-angle-right"></i> 实现多传感器（作物生长传感器、GPS、速度传感器等）信息协同采集、可靠传输、快速存储；</p>
                                        <p><i class="fa fa-angle-right"></i> 可现场快速、高通量获取作物冠层植被指数RVI、NDVI、叶层氮含量、叶层氮积累量、叶干重和叶面积指数，并生成空间分布图；</p>
                                        <p><i class="fa fa-angle-right"></i> 耦合不同作业速度下的稻麦生长监测诊断模型，在线生成氮素诊断处方图。</p>
                                    </div>

                                </div>
                                <img src="/assets/models/images/chezai-1.png"  style="margin-left: 25px"/>

                                <div>
                                    <div  style="margin: 30px 30px 0 0;">
                                        <h2>〖技术参数〗：</h2>
                                        <div class="product-text">
                                            <table class="table chezai">
                                                <tbody>
                                                    <tr>
                                                        <th style="width: 300px">工作环境</th>
                                                        <td style="width: 550px" colspan="3">0℃~60℃，相对湿度0~100%RH（没有水气凝结）</td>
                                                    </tr>
                                                    <tr>
                                                        <th>贮藏环境</th>
                                                        <td colspan="3">-10℃~80℃，相对湿度0~60%RH</td>
                                                    </tr>
                                                    <tr>
                                                        <th>测量参数</th>
                                                        <td colspan="3">作物生长信息（叶层氮含量、叶层氮积累量、叶面积指数和生物量）、农机状态信息（速度信息、位置信息）</td>
                                                    </tr>
                                                    <tr>
                                                        <th>软件功能</th>
                                                        <td colspan="3">获取作物冠层植被指数RVI、NDVI、叶层氮含量、叶层氮积累量、叶干重和叶面积指数，并生成空间分布图</td>
                                                    </tr>
                                                    <tr>
                                                        <th>电源</th>
                                                        <td style="width: 200px">24V锂电池</td>
                                                        <th style="width: 300px">通讯方式</th>
                                                        <td style="width: 200px">CAN总线协议</td>
                                                    </tr>
                                                    <tr>
                                                        <th>作业速度</th>
                                                        <td>0.5-4.5km/h可调</td>
                                                        <th>作物生长传感器波段</th>
                                                        <td>730nm、815nm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>作物生长传感器光谱带宽</th>
                                                        <td><10 nm FWHM</td>
                                                        <th>作物生长传感器视场角</th>
                                                        <td>30°</td>
                                                    </tr>
                                                    <tr>
                                                        <th>采集面面积</th>
                                                        <td>0.23~0.38m2</td>
                                                        <th>农机速度获取</th>
                                                        <td>霍尔双通道测速传感器</td>
                                                    </tr>
                                                    <tr>
                                                        <th>霍尔测速传感器频响特性</th>
                                                        <td>0～20kHz</td>
                                                        <th>霍尔测速传感器输出波形</th>
                                                        <td>方波，上升、下降沿时间 12us±40%</td>
                                                    </tr>
                                                    <tr>
                                                        <th>霍尔测速传感器输出幅值</th>
                                                        <td>高电平：Ub-(1.8V±40%)，低电平：＜2.2V</td>
                                                        <th>霍尔测速传感器工作电源</th>
                                                        <td>Ub=15V±30%</td>
                                                    </tr>
                                                    <tr>
                                                        <th>农机位置获取</th>
                                                        <td>高精度GPS</td>
                                                        <th>差分数据频率</th>
                                                        <td>5Hz/10Hz/20Hz可选</td>
                                                    </tr>
                                                    <tr>
                                                        <th>后处理/RTK水平位置精度</th>
                                                        <td>2cm</td>
                                                        <th>后处理/RTK高度精度</th>
                                                        <td>6cm</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}