@home.main("作物生长模拟与决策支持系统") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>作物生长模拟与决策支持系统</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <div style="width: 100%;
                                border-bottom: none;
                                margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">以作物生长模型为基础，构建作物生长模拟与决策支持系统，实现不同气候、土壤、品种和管理措施下作物生长发育、形态建成、产量品质形成、水肥动态的预测及可视化表达，气候变化、土壤改良、品种更新、管理措施优化等效应的评估，以及面向不同生产目标的优化方案设计等。</p>
                                    </div>
                                </div>
                                <br/>


                                <img src="/images/getImageByPath?name=moni/1.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p class="img-intro">水稻生长模拟及决策支持系统</p>


                                <br/>

                                <img src="/images/getImageByPath?name=moni/2.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p class="img-intro">水稻不同氮肥处理情景模拟</p>

                                <br/>

                                <img src="/images/getImageByPath?name=moni/3.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p class="img-intro">绘制地上部生物量曲线图</p>
                                <br/>

                                <img src="/images/getImageByPath?name=moni/4.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p class="img-intro">绘制三维形态</p>
                                <br/>

                                <img src="/images/getImageByPath?name=moni/5.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p class="img-intro">基于模型与GIS的水稻生产力预测预警系统</p>
                                <br/>



                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}