@home.main("农业空间信息管理系统") {



    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>农业空间信息管理系统</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div style="width: 100%;
                                border-bottom: none;margin: 0 2.5%">
                                <div>

                                    <div class="product-text" style="padding-right: 30px">
                                            <p style="text-indent: 2em;">以GIS空间分析、时空决策支持及农业决策模型为基础，结合地理信息系统软件工程，开发农业空间信息管理系统，具有农业基础地理分析、种植制度设计、生态区划、管理分区、空间处方、空间生产效益分析等功能。</p>
                                        </div>
                                </div>
                                <br/>

                                <img src="/images/getImageByPath?name=nongyexinxi/1.png" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <br/>

                            <img src="/images/getImageByPath?name=nongyexinxi/2.png" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <br/>

                                <img src="/images/getImageByPath?name=nongyexinxi/3.png" width="800px" style="margin-left: 25px"/>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}