@home.main("无人机载式作物生长监测诊断设备") {



    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>无人机载式作物生长监测诊断设备</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div style="width: 100%;
                                border-bottom: none;margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">
                                            无人机载式作物生长监测诊断设备由多旋翼无人机，机载作物生长传感器、地面数据采集器组成。机载作物生长传感器实时采集作物冠层光谱反射信息，并实时无线传输至地面数据采集器，在线获取作物叶层氮含量、叶层氮积累量、叶面积指数、叶干重等生长信息。克服传统作物生长信息获取时效性差、程序繁琐等不足，作业效率高，地形适应性强。</p>
                                    </div>
                                </div>
                                <img src="/assets/models/images/wurenji-4.png" width="800px" style="margin-left: 25px"/>
                                <p style="text-align: center">无人机载式作物生长监测诊断设备</p>



                                <div style="margin-top: 30px;">
                                    <h2>〖特征〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p><i class="fa fa-angle-right"></i> 监测系统集成度高、操作简便、作业效率高、地形适应性强；</p>
                                        <p><i class="fa fa-angle-right"></i> 适用于农作物冠层测量，特别是水稻和小麦作物；</p>
                                        <p><i class="fa fa-angle-right"></i> 专用碳纤维支架及固定结构件，载荷重量轻，刚性强，固定效果好；</p>
                                        <p><i class="fa fa-angle-right"></i> 系统测试不受无人机气流场对作物冠层扰动的影响；</p>
                                        <p><i class="fa fa-angle-right"></i> 可快速、高通量采集作物冠层植被指数RVI、NDVI；</p>
                                        <p><i class="fa fa-angle-right"></i> 支持数据在线处理方式，通过控制按键，实时获取叶层氮含量、叶层氮积累量、叶干重和叶面积指数等生长指标；</p>
                                        <p><i class="fa fa-angle-right"></i> 支持数据4G远程处理方式，通过控制平台，实时获取叶层氮含量、叶层氮积累量、叶干重和叶面积指数等生长指标。</p>
                                    </div>

                                </div>
                                <img src="/assets/models/images/wurenji-1.png"  width="800px" style="margin-left: 25px"/>
                                <p style="text-align: center">无人机载式作物生长监测诊断设备测试原理</p>

                                <div>
                                    <div  style="margin: 30px 0 0 0;
                                        width: 450px;float: left">
                                        <h2>〖技术参数〗：</h2>
                                        <div class="product-text">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>工作环境</th>
                                                        <td>0℃~50℃，相对湿度0~100%RH（没有水气凝结）</td>
                                                    </tr>
                                                    <tr>
                                                        <th>贮藏环境</th>
                                                        <td>-10℃~60℃，相对湿度0~30%RH</td>
                                                    </tr>
                                                    <tr>
                                                        <th>电源</th>
                                                        <td>12V锂电池，一次充电可连续使用25分钟</td>
                                                    </tr>
                                                    <tr>
                                                        <th>飞行高度</th>
                                                        <td>离作物冠层0.8-1.2m</td>
                                                    </tr>
                                                    <tr>
                                                        <th>作业速度</th>
                                                        <td style="width: 200px">0-5 m/s</td>
                                                    </tr>
                                                    <tr>
                                                        <th>载荷</th>
                                                        <td style="width: 200px">200g</td>
                                                    </tr>
                                                    <tr>
                                                        <th>软件功能</th>
                                                        <td>植被指数RVI、NDVI，作物叶层氮含量、氮积累量、叶面积指数、叶干重等生长信息实时显示，并生成空间分布图</td>
                                                    </tr>
                                                    <tr>
                                                        <th>通讯方式</th>
                                                        <td>780MHz ZigBee通讯/4G无线通信</td>
                                                    </tr>
                                                    <tr>
                                                        <th>中心波长</th>
                                                        <td>730nm、815nm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>光谱带宽</th>
                                                        <td><10nm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>视场角</th>
                                                        <td>27°</td>
                                                    </tr>
                                                    <tr>
                                                        <th>观测面积</th>
                                                        <td>0.18~0.40m2</td>
                                                    </tr>
                                                    <tr>
                                                        <th>通道数量</th>
                                                        <td>2个</td>
                                                    </tr>
                                                    <tr>
                                                        <th>采集器材质</th>
                                                        <td>碳纤维、尼龙</td>
                                                    </tr>
                                                    <tr>
                                                        <th>尺寸</th>
                                                        <td>无人机平台：<br>&nbsp;&nbsp;L710mm×W710mm×H195mm<br>
                                                            地面接收器：<br>&nbsp;&nbsp;L143mm×W105mm×H42mm</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="width: 400px;
                                        float: left;
                                        text-align: center">
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/wurenji-2.png" width="300px" border="0">
                                            <p>机载作物生长传感器</p>
                                        </div>
                                        <div style="text-align: center;margin-top: 70px;">
                                            <img src="/assets/models/images/wurenji-3.png" width="300px" border="0">
                                            <p>地面数据采集器</p>
                                        </div>
                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}