@home.main("农情遥感监测与定量诊断系统") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>农情遥感监测与定量诊断系统</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <div style="width: 100%;
                                border-bottom: none;
                                margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">基于航天遥感数字图像的预处理，实现了单点与区域性作物生长和生理指标的反演及品质、产量指标的预测，并进行作物生长的实时诊断与调控，为农作物生长实时监测与诊断调控的定量化和数字化奠定了基础。</p>
                                    </div>
                                </div>
                                <br/>


                                <img src="/images/getImageByPath?name=yaogan/1.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>


                                <br/>

                                <img src="/images/getImageByPath?name=yaogan/2.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}