@home.main("智慧农作平台") {



    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>智慧农作平台</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">

                            <div style="width: 100%;
                                border-bottom: none;margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">以移动互联云服务基础为核心，以稻麦物联网监测、无人机监测、卫星遥感监测为基础，结合农业基础数据及稻麦生长监测与诊断调控模型，研发智慧农作平台，并以大屏、PC、手机等为终端提供相关服务。</p>
                                    </div>
                                </div>
                                <br/>
                                <h2>〖“1平台4系统N应用”软件体系〗：</h2>
                                <br/>
                                <img src="/images/getImageByPath?name=zhihui/1.jpg" width="800px" style="margin-left: 25px"/>
                                <img src="/images/getImageByPath?name=zhihui/2.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <br/>
                                <h2>〖部分应用系统〗：</h2>
                                <br/>
                                <img src="/images/getImageByPath?name=zhihui/3.jpg" width="800px" style="margin-left: 25px"/>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}