@home.main("作物精确管理系统") {


    <div class="container">
        <div class="main-box">
            <div class="intro-box">
                @products.left()
                <div class="right" id="intro-item-1" style="margin-top: 20px;
                    width: 890px;">
                    <div class="tittle">
                        <div class="left">
                            <p>作物精确管理系统</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail-box">
                            <div style="width: 100%;
                                border-bottom: none;
                                margin: 0 2.5%">
                                <div>
                                    <h2>〖产品介绍〗：</h2>
                                    <div class="product-text" style="padding-right: 30px">
                                        <p style="text-indent: 2em;">以作物精确管理知识模型为基础，结合精确农作管理分区技术及GIS平台，开发了基于模型和GIS的作物精确管理系统，实现了不同时空尺度下播前栽培方案设计、产中指标动态设计、因苗实时管理调控等功能。</p>
                                    </div>
                                </div>
                                <br/>


                                <img src="/images/getImageByPath?name=zuowuguanli/1.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p style="text-align: center">基于模型和GIS的水稻精确管理系统（单机版）</p>


                                <br/>

                                <img src="/images/getImageByPath?name=zuowuguanli/2.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p style="text-align: center">作物精确管理系统（网络版）</p>

                                <br/>

                                <img src="/images/getImageByPath?name=zuowuguanli/shouji.png" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p style="text-align: center">作物精确管理系统（移动版）</p>
                                <br/>



                                <h2>〖技术形式〗：</h2>
                                <br/>
                                <div style="float: left">

                                <div style="float: left;text-align: center">
                                    <a href="/images/getImageByPath?name=zuowuguanli/jishu1.png" target="_blank">
                                        <img src="/images/getImageByPath?name=zuowuguanli/jishu1.png" width="390px" height="250px" style="margin-left: 25px"/>
                                    </a>
                                    <p>田块尺度小麦精确管理综合方案</p>
                                </div>
                                <div style="float: left;text-align: center">
                                    <a href="/images/getImageByPath?name=zuowuguanli/jishu2.jpg" target="_blank">
                                        <img src="/images/getImageByPath?name=zuowuguanli/jishu2.jpg" width="390px" style="margin-left: 25px"/>
                                    </a>
                                    <p>吴江同里示范园水稻基本苗处方</p>
                                </div>

                                <div style="float: left;text-align: center;margin-top: 10px">
                                    <a href="/images/getImageByPath?name=zuowuguanli/jishu3.jpg" target="_blank">
                                        <img src="/images/getImageByPath?name=zuowuguanli/jishu3.jpg" width="390px" style="margin-left: 25px"/>
                                    </a>
                                    <p>吴江区水稻总施氮肥量处方</p>
                                </div>
                                <div style="float: left;text-align: center;margin-top: 10px">
                                    <a href="/images/getImageByPath?name=zuowuguanli/jishu4.png" target="_blank">
                                        <img src="/images/getImageByPath?name=zuowuguanli/jishu4.png" width="390px" style="margin-left: 25px"/>
                                    </a>
                                    <p>苏州市水稻总施氮肥及钾肥量处方</p>
                                </div>
                                </div>

                                <h2>〖获奖情况〗：</h2>
                                <br/>

                            <img src="/images/getImageByPath?name=zuowuguanli/huojiang1.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p style="text-align: center">获2007年度高等学校科技进步一等奖</p>
                                <br/>

                                <img src="/images/getImageByPath?name=zuowuguanli/huojiang2.jpg" width="800px" style="margin-left: 25px"/>
                                <br/>
                                <p style="text-align: center">获2008年国家科技进步二等奖</p>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
}